@media all and(min-width:375px){
    body{
        margin:0px;
        padding: 0px;
        background-color: #E5F7FF;
        font-family: 'Roboto', sans-serif;
    }
    
    header{
         #header{

             ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                margin-left: -13px;
                margin-right: 8px;
                margin-top: 29px;
               
                #search{
                    padding-top: 31px;
                    width: 95%;
                    
                    .search{
                        align-self: center;
                        border: 0px solid transparent;
                        border-radius: 2em ;
                        padding-top:5px;
                        padding-bottom:5px;
                        width: 90%;
                        padding: 10px;
                    }
                }
                
                
             }
         }
    }
    .best_sellers{
        padding-left:15px;
        padding-right:15px;
        .top_section{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: -47px;
            flex-wrap: wrap;
            h1{
                font-size: 54.75px;
                color: #473889;
            }

            .slider_btn{
                width: 100%;
                padding-left: 25px;
                margin-top: -16px;
                padding-right: 22px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                position:relative;
                &::before{
                    content:'';
                    position: absolute;
                    background-color: white;
                    border: 1px rgb(209, 209, 209) solid ; 
                    border-radius:50%;
                    width: 40px;
                    height: 40px;
                    top: -10px;
                    left: 11px;
                    z-index:-2;
    
    
                }
            }

            


        }
        .sort{
            position:relative;
            margin-left: 8%;
            margin-top: 14px;
            transition: 0.3s ease-in-out;
            img{
                
                width:20px;
                height: 20px;
            }
            &::before{
                content:'';
                position: absolute;
                background-color: white;
                border-radius:50%;
                width: 40px;
                height: 40px;
                top: -12px;
                left: -10px;
                z-index:-2;
            

            }
        &:hover{

            filter: drop-shadow(1px 9px 7px rgb(160, 160, 160) );
        }
        }

        .cards{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-items:center;
            margin-top: 16px;
            .card{
                max-width: 150px;
                margin-top:25px;
                background-color: white;
                border-radius: 1em;
                width: 45%;
                display:flex;
                flex-direction: column;
                padding: 40px 2px 2px 2px;
                transition: 0.5s ease-in-out;
                &:hover{
                    box-shadow: 0px 37px 25px -20px rgba(0,0,0,0.41);
                }
                img{
                    width:120px;
                    align-self:center;
                    padding-left: 24px;
                    padding-bottom: 16px;
                    height: 120px;
                } 

                .description{
                    padding-left: 20px;
                    background-color: #E7DDF2 ;
                    border-radius: 1em;
                    line-height: 0;

                }
            }
        }

        
    }
    .accessories{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
        font-size: 32px;
        font-weight: 700;
        color: #473889;
        }
        .a_cards{
            .card{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items:center;
                background-color: white;
                border-radius: 1.5em;
                padding: 0px 13px 0px 13px;
                margin-bottom: 20px;
                

                .text{
                    padding-left: 10px;
                    h2{
                        color:#473889;
                        font-weight: 700;
                        font-size: 28.39px;
                    }
                    p{
                    margin-top: -23px;
                    margin-bottom: 20px;
                    font-size: 14.39px;
                    }
                }

                .blur_1{
                    background-color: pink;
                    border-radius: 50%;
                    height:60px;
                    width:60px;
                    background-image: url('img/blur\ item\ 4.png') ;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-top: 3px;
                }
                .blur_2{
                    background-color:rgb(247, 222, 247);
                    border-radius: 50%;
                    height:60px;
                    width:60px;
                    background-image: url('img/blur\ item\ 5.png') ;
                    background-repeat: no-repeat;
                    background-position: center left 7px;
                    margin-top: 3px;
                }
                .blur_3{
                    background-color:rgb(211, 240, 254);
                    border-radius: 50%;
                    height:60px;
                    width:60px;
                    background-image: url('img/blur\ item\ 6.png') ;
                    background-repeat: no-repeat;
                    background-position: center left 7px;
                    margin-top: 3px;
                }
            }
        }
    }


}





@media all and(min-width:768px){
    body{
        margin:0px;
        padding: 0px;
        background-color: #E5F7FF;
        font-family: 'Roboto', sans-serif;
    }
    
    header{
         #header{ 
             #search{
                width:98% !important;
                 .search{
                     
                     border: 0px solid transparent;
                     border-radius: 2em ;
                     padding-top:5px;
                     padding-bottom:5px;
                     width: 97% !important;
                 }
             }
         }
    }

    .best_sellers{
        .top_section{
             .slider_btn{
                margin-top: 1px;
                width: 10%;
                margin-left: 240px;
             }
        }
        .cards{
            .card{
                max-width: 190px;
                padding: 70px 2px 2px 2px;
                .description{
                    line-height: 0.5;
                }
            }
        }
    }
    .accessories{

        .a_cards{
            display: flex;
            flex-direction: row;
            padding-left: 15px;
            .card{
                margin-right: 20px;
            }
        }
    }


}



@media all and(min-width:1024px){
    body{
        margin:0px;
        padding: 0px;
        background-color: white;
        font-family: 'Roboto', sans-serif;
    }
    
    header{
         #header{
             
             
             

             ul{
                margin-left: 0px;
                max-width: 92%;
                .cart{
                    order:3;

                }
                .logo{
                    order:1;
                }
                .points{
                    margin-left: -40px;
                    order:4;
                }
                #search{
                    margin-left: 30%;
                    width: 30% !important;
                    order:2;
                }
                
             }
             #search{
                 padding-top:0px !important;
             }
             .search{
                 align-self: center;
                 border: 0px solid transparent;
                 border-radius: 2em ;
                 padding-top:5px;
                 padding-bottom:5px;
                 width:400px;
             }
         }
    }
    .best_sellers{
        .top_section{
            
            padding-left: 22px;
            margin-top: -22px;
            .slider_btn{
                z-index: 3;
                width: 6%;
                margin-left: 83px;
            }
        }
        .cards{
            .card{
                transform: scale(1.5);
            }
        }

    }

    .accessories{
    position: absolute;
    right: 0px;
    width: 35%;
    height: 100%;
    background-color: white;
    top: 114px;
    h1{
        font-size: 22px;
        align-self: flex-start;
        margin-left: 30px;
        margin-bottom: 60px;
    }

    .a_cards{
        flex-direction: column;
        
        .card{
            border: 1px solid #d8d4d4;
            margin-bottom: 30px;
            padding: 15px 40px 15px 40px;
            line-height: 2;

            .text{
                h2{
                    font-size: 18.39px !important;
                }
                padding-left: 40px;

            }

            .blur_1{
                height: 80px;
                width: 80px;
            }
            .blur_2{
                height: 80px;
                width: 80px;
            }
            .blur_3{
                height: 80px;
                width: 80px;
            }
        }
    }
    }


  
    


}



