@media all and (min-width: 375px) {
  body {
    margin: 0px;
    padding: 0px;
    background-color: #E5F7FF;
    font-family: 'Roboto', sans-serif;
  }
  header #header ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -13px;
    margin-right: 8px;
    margin-top: 29px;
  }
  header #header ul #search {
    padding-top: 31px;
    width: 95%;
  }
  header #header ul #search .search {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: 0px solid transparent;
    border-radius: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    padding: 10px;
  }
  .best_sellers {
    padding-left: 15px;
    padding-right: 15px;
  }
  .best_sellers .top_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -47px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .best_sellers .top_section h1 {
    font-size: 54.75px;
    color: #473889;
  }
  .best_sellers .top_section .slider_btn {
    width: 100%;
    padding-left: 25px;
    margin-top: -16px;
    padding-right: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .best_sellers .top_section .slider_btn::before {
    content: '';
    position: absolute;
    background-color: white;
    border: 1px #d1d1d1 solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: -10px;
    left: 11px;
    z-index: -2;
  }
  .best_sellers .sort {
    position: relative;
    margin-left: 8%;
    margin-top: 14px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .best_sellers .sort img {
    width: 20px;
    height: 20px;
  }
  .best_sellers .sort::before {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: -12px;
    left: -10px;
    z-index: -2;
  }
  .best_sellers .sort:hover {
    -webkit-filter: drop-shadow(1px 9px 7px #a0a0a0);
            filter: drop-shadow(1px 9px 7px #a0a0a0);
  }
  .best_sellers .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
  }
  .best_sellers .cards .card {
    max-width: 150px;
    margin-top: 25px;
    background-color: white;
    border-radius: 1em;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 2px 2px 2px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .best_sellers .cards .card:hover {
    -webkit-box-shadow: 0px 37px 25px -20px rgba(0, 0, 0, 0.41);
            box-shadow: 0px 37px 25px -20px rgba(0, 0, 0, 0.41);
  }
  .best_sellers .cards .card img {
    width: 120px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 24px;
    padding-bottom: 16px;
    height: 120px;
  }
  .best_sellers .cards .card .description {
    padding-left: 20px;
    background-color: #E7DDF2;
    border-radius: 1em;
    line-height: 0;
  }
  .accessories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .accessories h1 {
    font-size: 32px;
    font-weight: 700;
    color: #473889;
  }
  .accessories .a_cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    border-radius: 1.5em;
    padding: 0px 13px 0px 13px;
    margin-bottom: 20px;
  }
  .accessories .a_cards .card .text {
    padding-left: 10px;
  }
  .accessories .a_cards .card .text h2 {
    color: #473889;
    font-weight: 700;
    font-size: 28.39px;
  }
  .accessories .a_cards .card .text p {
    margin-top: -23px;
    margin-bottom: 20px;
    font-size: 14.39px;
  }
  .accessories .a_cards .card .blur_1 {
    background-color: pink;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-image: url("img/blur item 4.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3px;
  }
  .accessories .a_cards .card .blur_2 {
    background-color: #f7def7;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-image: url("img/blur item 5.png");
    background-repeat: no-repeat;
    background-position: center left 7px;
    margin-top: 3px;
  }
  .accessories .a_cards .card .blur_3 {
    background-color: #d3f0fe;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-image: url("img/blur item 6.png");
    background-repeat: no-repeat;
    background-position: center left 7px;
    margin-top: 3px;
  }
}

@media all and (min-width: 768px) {
  body {
    margin: 0px;
    padding: 0px;
    background-color: #E5F7FF;
    font-family: 'Roboto', sans-serif;
  }
  header #header #search {
    width: 98% !important;
  }
  header #header #search .search {
    border: 0px solid transparent;
    border-radius: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 97% !important;
  }
  .best_sellers .top_section .slider_btn {
    margin-top: 1px;
    width: 10%;
    margin-left: 240px;
  }
  .best_sellers .cards .card {
    max-width: 190px;
    padding: 70px 2px 2px 2px;
  }
  .best_sellers .cards .card .description {
    line-height: 0.5;
  }
  .accessories .a_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 15px;
  }
  .accessories .a_cards .card {
    margin-right: 20px;
  }
}

@media all and (min-width: 1024px) {
  body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
  }
  header #header ul {
    margin-left: 0px;
    max-width: 92%;
  }
  header #header ul .cart {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  header #header ul .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header #header ul .points {
    margin-left: -40px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  header #header ul #search {
    margin-left: 30%;
    width: 30% !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header #header #search {
    padding-top: 0px !important;
  }
  header #header .search {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: 0px solid transparent;
    border-radius: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
  }
  .best_sellers .top_section {
    padding-left: 22px;
    margin-top: -22px;
  }
  .best_sellers .top_section .slider_btn {
    z-index: 3;
    width: 6%;
    margin-left: 83px;
  }
  .best_sellers .cards .card {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .accessories {
    position: absolute;
    right: 0px;
    width: 35%;
    height: 100%;
    background-color: white;
    top: 114px;
  }
  .accessories h1 {
    font-size: 22px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 30px;
    margin-bottom: 60px;
  }
  .accessories .a_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accessories .a_cards .card {
    border: 1px solid #d8d4d4;
    margin-bottom: 30px;
    padding: 15px 40px 15px 40px;
    line-height: 2;
  }
  .accessories .a_cards .card .text {
    padding-left: 40px;
  }
  .accessories .a_cards .card .text h2 {
    font-size: 18.39px !important;
  }
  .accessories .a_cards .card .blur_1 {
    height: 80px;
    width: 80px;
  }
  .accessories .a_cards .card .blur_2 {
    height: 80px;
    width: 80px;
  }
  .accessories .a_cards .card .blur_3 {
    height: 80px;
    width: 80px;
  }
}
/*# sourceMappingURL=style.css.map */